<br/>
<div class="double">
  <form id="addProjectForm" #userForm="ngForm" (ngSubmit)="onSubmit(projectModel)">
    <div class="form-group form-inline">
      <label>Project</label>
      <input type="text" #project="ngModel" placeholder="Project" required class="form-control" minlength="5"
             [class.is-invalid]="project.invalid && project.touched" name="project" [(ngModel)]="projectModel.project"
             autocomplete="off">
      <small class="text-danger" [class.d-none]="project.valid || project.untouched">Project is required</small>
    </div>
    <div class="form-group form-inline">
      <input type="checkbox" class="form-check-input" style="margin-left: -300px;"
             id="isDateEnabled" [checked]="isDateEnabled" (change)="dateSetterControl($event)">
      <label style="margin-left: -250px; width: 200px">Set Start and End Date</label>
      <input #startDateString="ngModel" min="{{todayString}}"  max="{{projectModel.endDateString}}" name="startDateString" [(ngModel)]="projectModel.startDateString" placeholder="Start Date"
             [disabled]=!isDateEnabled class="form-control datepicker"    type="date" style="width:200px!important; margin-left: -25px" required/>
      <input #endDateString="ngModel"   min="{{projectModel.startDateString}}"  name="endDateString" [(ngModel)]="projectModel.endDateString" placeholder="End Date"
             [disabled]=!isDateEnabled class="form-control datepicker" type="date" style="width:200px!important; margin-left: 25px" required/>
    </div>
    <div class="form-group form-inline">
      <label>Priority</label>
      <input type="range" min="0" max="30" #priority="ngModel" placeholder="Priority" required class="form-control"
             [class.is-invalid]="priority.invalid && priority.touched" name="priority"
             [(ngModel)]="projectModel.priority" autocomplete="off">
      <p style="margin-left: 25px;">{{projectModel.priority}}</p>
      <small class="text-danger" [class.d-none]="priority.valid || priority.untouched">Priority is required</small>
    </div>
    <div class="form-group form-inline">
      <label>Manager</label>
      <input type="text" placeholder="Select Manager" [disabled]="true" required class="form-control"
             value="{{projectModel.managerEmployeeId}} - {{projectModel.managerName}}" autocomplete="off">
      <button type="button" (click)="openUpdateModel(content)" style="margin-left: 25px" class="glyphicon glyphicon-check">Search</button>
      <small class="text-danger" [class.d-none]="!errorMessage">{{errorMessage}}</small>
    </div>
    <!-- To Add Remaining Fields -->
    <button id="submit" class="btn btn-primary" [hidden]="isEdit" [disabled]="userForm.form.invalid" type="submit">Add</button>
    <button id="reset" class="btn btn-secondary" [hidden]="isEdit" type="reset">Reset</button>
    <button id="update" class="btn btn-primary" [hidden]="!isEdit" [disabled]="userForm.form.invalid" type="submit">Update</button>
    <button id="cancel" class="btn btn-secondary" [hidden]="!isEdit" (click)="cancelEdit()">Cancel</button>
  </form>
</div>
